body{
    margin: 0;
}

#back{
    width: 100vw;
    height: 100vw;
    background-color: coral;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#guard{
    width: 25vw;
    height: 25vw;
    display: flex;
    margin-top: 3vw;
}

#order{
    display: flex;
}